<h1>All Notes</h1>
<div class="add_text"><div class="add_button">+</div><a href='/notes/new'>Add New Notes</a></div>

<ul>
<% @notes.each do |note| %>
    <li><%=note.content%> <div class="posted">posted by <%=note.user.character_name%></div></li>
<% end %>
</ul>