<h1>Add Note</h1>
<br><br>
<form  action="/notes" method="post">
<p><b>Note:</b> <textarea name="note[content]" rows="4" cols="50"></textarea></p>
<p><input type="checkbox" id="secret" name="secret" value=1> <b>Secret</b></p>
<input type="submit" value="Add Note"><br><br>
</form>