<h1>Add Note</h1>
<div class="flash"><%=flash[:message]%></div><br><br>
<form  action="/notes" method="post">
<p><b>Note:</b> <textarea name="note[content]" rows="4" cols="50"></textarea></p>
<input type="submit" value="Add Note"><br><br>
</form>