<h1>Update Your Character</h1>
<br><br>
<form  action="/users/<%=@user.id%>" method="post">
<input type="hidden" name="_method" value="patch">
<p><b>Character Name:</b> <input type="text" name="user[character_name]" value="<%=@user.character_name%>"></p>
<p><b>Description:</b> <textarea name="user[description]" rows="4" cols="50"><%=@user.description%></textarea></p>
<p><b>Bio:</b> <textarea name="user[bio]" rows="4" cols="50"><%=@user.bio%></textarea></p>
<input type="submit" value="Update Character"><br><br>
<p><b>Equipment:</b> NOT YET ADDED</p>
<p><b>Notes:</b> NOT YET ADDED</p>
</form>